In [1]:
import pandas as pd
from pathlib import Path
import pickle

In [2]:
PROJECT_DIR =  Path.cwd().parent
DATA_DIR = PROJECT_DIR.joinpath('data')

In [3]:
HICU = pd.read_feather(DATA_DIR.joinpath('processed','HICU.feather'))
SICU = pd.read_feather(DATA_DIR.joinpath('processed','SICU.feather'))
MICU = pd.read_feather(DATA_DIR.joinpath('processed','MICU.feather'))
NSICU = pd.read_feather(DATA_DIR.joinpath('processed','NSICU.feather'))

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
scaler = MinMaxScaler()

In [6]:
output = scaler.fit_transform(HICU[HICU.columns[1:]])

HICU[HICU.columns[1:]] = output
HICU.head()

,연구등록번호,age,height,weight,체표면적,bp,heartrate,respiratoryrate,temperature,gender,...,hct,Hemoglobin,potassium,Monocyte(%),sodium,Neutrophil(%),PLT Count,rbc count,외국인여부,death
0,10000217,0.541176,0.344371,0.188852,0.358166,0.673367,0.283019,0.022727,0.535714,0.0,...,0.540609,0.570423,0.055631,0.293023,0.738806,0.524759,0.278103,0.648520,0.0,0.0
1,10001501,0.741176,0.348786,0.205902,0.381089,0.522613,0.188679,0.125000,0.571429,1.0,...,0.407614,0.415493,0.033017,0.213953,0.752985,0.693891,0.233005,0.466094,0.0,0.0
2,10001618,0.647059,0.395143,0.245902,0.458453,0.482412,0.240566,0.125000,0.625000,1.0,...,0.078680,0.154930,0.033921,0.233547,0.746269,0.640069,0.055621,0.214900,0.0,0.0
3,1000196,0.611765,0.344371,0.203279,0.375358,0.467337,0.202830,0.125000,0.589286,0.0,...,0.360406,0.401408,0.044776,0.233547,0.768657,0.640069,0.200935,0.432665,0.0,0.0
4,10002343,0.647059,0.364238,0.180328,0.361032,0.530151,0.202830,0.011364,0.589286,1.0,...,0.517766,0.521127,0.061058,0.233547,0.768657,0.640069,0.206948,0.528176,0.0,0.0

In [7]:
HICU

,연구등록번호,age,height,weight,체표면적,bp,heartrate,respiratoryrate,temperature,gender,...,hct,Hemoglobin,potassium,Monocyte(%),sodium,Neutrophil(%),PLT Count,rbc count,외국인여부,death
0,10000217,0.541176,0.344371,0.188852,0.358166,0.673367,0.283019,0.022727,0.535714,0.0,...,0.540609,0.570423,0.055631,0.293023,0.738806,0.524759,0.278103,0.648520,0.0,0.0
1,10001501,0.741176,0.348786,0.205902,0.381089,0.522613,0.188679,0.125000,0.571429,1.0,...,0.407614,0.415493,0.033017,0.213953,0.752985,0.693891,0.233005,0.466094,0.0,0.0
2,10001618,0.647059,0.395143,0.245902,0.458453,0.482412,0.240566,0.125000,0.625000,1.0,...,0.078680,0.154930,0.033921,0.233547,0.746269,0.640069,0.055621,0.214900,0.0,0.0
3,1000196,0.611765,0.344371,0.203279,0.375358,0.467337,0.202830,0.125000,0.589286,0.0,...,0.360406,0.401408,0.044776,0.233547,0.768657,0.640069,0.200935,0.432665,0.0,0.0
4,10002343,0.647059,0.364238,0.180328,0.361032,0.530151,0.202830,0.011364,0.589286,1.0,...,0.517766,0.521127,0.061058,0.233547,0.768657,0.640069,0.206948,0.528176,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5261,9998383,0.647059,0.375276,0.213115,0.406877,0.638191,0.235849,0.068182,0.535714,1.0,...,0.639594,0.654930,0.052917,0.233547,0.753731,0.640069,0.180892,0.673352,0.0,0.0
5262,9998920,0.388235,0.384106,0.259016,0.464183,0.419598,0.344340,0.113636,0.642857,1.0,...,0.598985,0.654930,0.044776,0.233547,0.738806,0.640069,0.151829,0.656161,0.0,0.0
5263,9999392,0.552941,0.381898,0.232787,0.435530,0.472362,0.141509,0.090909,0.571429,1.0,...,0.517766,0.542254,0.047490,0.233547,0.753731,0.640069,0.150827,0.596944,0.0,0.0
5264,9999466,0.764706,0.348786,0.203279,0.378223,0.567839,0.221698,0.068182,0.642857,0.0,...,0.573604,0.612676,0.052917,0.106977,0.716418,0.918328,0.162853,0.612225,0.0,0.0
5265,9999985,0.823529,0.314790,0.166557,0.312321,0.444724,0.306604,0.113636,0.660714,0.0,...,0.286802,0.330986,0.069199,0.233547,0.716418,0.640069,0.226992,0.400191,0.0,0.0

In [8]:
output = scaler.fit_transform(MICU[MICU.columns[1:]])

MICU[MICU.columns[1:]] = output
MICU.head()

,연구등록번호,gender,age,ethnicity,hospitalid,wardid,height,hospitaladmitoffset,hospitaladmitsource,hospitaldischargeyear,...,alkaline phos.,anion gap,bicarbonate,calcium,chloride,magnesium,platelets x 1000,potassium,total protein,gcs
0,141328,0.0,0.839506,0.0,0.0,0.0,0.542604,0.998799,0.000000,0.0,...,0.034388,0.225000,0.524272,0.350911,0.401042,0.251989,0.093502,0.318958,0.530435,0.888889
1,141366,1.0,0.901235,0.2,0.0,0.0,0.595274,0.990995,0.071429,1.0,...,0.030142,0.183333,0.574757,0.340885,0.501302,0.251989,0.160172,0.389039,0.443478,1.000000
2,141392,0.0,0.864198,0.2,0.0,0.0,0.551267,0.998819,0.000000,0.0,...,0.025897,0.183333,0.580097,0.385091,0.472656,0.225464,0.092472,0.226543,0.472464,1.000000
3,141462,1.0,0.888889,0.2,0.0,0.0,0.586611,0.998819,0.142857,0.0,...,0.019529,0.200000,0.501618,0.352431,0.479818,0.240937,0.200101,0.266048,0.452174,1.000000
4,141475,1.0,0.975309,0.2,0.0,0.0,0.621609,0.970123,0.142857,1.0,...,0.025897,0.186667,0.434951,0.284375,0.681771,0.232350,0.097898,0.214136,0.430435,0.722222

In [9]:
MICU

,연구등록번호,gender,age,ethnicity,hospitalid,wardid,height,hospitaladmitoffset,hospitaladmitsource,hospitaldischargeyear,...,alkaline phos.,anion gap,bicarbonate,calcium,chloride,magnesium,platelets x 1000,potassium,total protein,gcs
0,141328,0.0,0.839506,0.0,0.0,0.0,0.542604,0.998799,0.000000,0.0,...,0.034388,0.225000,0.524272,0.350911,0.401042,0.251989,0.093502,0.318958,0.530435,0.888889
1,141366,1.0,0.901235,0.2,0.0,0.0,0.595274,0.990995,0.071429,1.0,...,0.030142,0.183333,0.574757,0.340885,0.501302,0.251989,0.160172,0.389039,0.443478,1.000000
2,141392,0.0,0.864198,0.2,0.0,0.0,0.551267,0.998819,0.000000,0.0,...,0.025897,0.183333,0.580097,0.385091,0.472656,0.225464,0.092472,0.226543,0.472464,1.000000
3,141462,1.0,0.888889,0.2,0.0,0.0,0.586611,0.998819,0.142857,0.0,...,0.019529,0.200000,0.501618,0.352431,0.479818,0.240937,0.200101,0.266048,0.452174,1.000000
4,141475,1.0,0.975309,0.2,0.0,0.0,0.621609,0.970123,0.142857,1.0,...,0.025897,0.186667,0.434951,0.284375,0.681771,0.232350,0.097898,0.214136,0.430435,0.722222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14545,3353190,1.0,0.382716,0.2,1.0,1.0,0.621609,0.992638,0.500000,1.0,...,0.024199,0.150000,0.427184,0.355469,0.583659,0.216622,0.141994,0.327942,0.530435,0.000000
14546,3353198,0.0,0.716049,0.2,1.0,1.0,0.542604,0.728122,0.142857,0.0,...,0.030425,0.125725,0.606163,0.321586,0.525277,0.284830,0.143019,0.288548,0.357971,0.555556
14547,3353213,0.0,0.530864,0.2,1.0,1.0,0.551267,0.997682,0.000000,1.0,...,0.024835,0.141667,0.344660,0.316732,0.673177,0.265252,0.119603,0.296496,0.352174,0.887432
14548,3353237,0.0,0.876543,0.2,1.0,1.0,0.560276,0.998768,0.285714,0.0,...,0.034812,0.133333,0.553398,0.366102,0.486979,0.238727,0.077224,0.220126,0.408696,0.944444
14549,3353263,1.0,0.333333,0.0,1.0,1.0,0.630618,0.998397,0.000000,0.0,...,0.041638,0.083333,0.543689,0.437500,0.486979,0.265252,0.098722,0.309973,0.444000,1.000000

In [10]:
output = scaler.fit_transform(SICU[SICU.columns[1:]])

SICU[SICU.columns[1:]] = output
SICU.head()

,연구등록번호,gender,age,ethnicity,hospitalid,wardid,height,hospitaladmitoffset,hospitaladmitsource,hospitaldischargeyear,...,calcium,chloride,fentaNYL,fentaNYL citrate (PF),hydrALAZINE,magnesium,morphine,platelets x 1000,potassium,gcs
0,141296,1.0,0.653333,0.2,0.012821,0.000000,0.650749,0.979453,0.000000,0.0,...,0.404668,0.389070,0.0,0.0,0.0,0.312107,0.0,0.335649,0.565574,1.000000
1,141297,1.0,0.653333,0.2,0.012821,0.000000,0.650749,0.932525,0.000000,0.0,...,0.546684,0.415987,0.0,0.0,0.0,0.533842,0.0,0.337321,0.896175,1.000000
2,141314,1.0,0.413333,0.2,0.012821,0.000000,0.681505,0.993785,0.071429,0.0,...,0.577225,0.587276,0.0,0.0,0.0,0.371783,0.0,0.130838,0.808743,0.333333
3,141675,0.0,0.586667,0.2,0.000000,0.017544,0.607042,0.996750,0.142857,0.0,...,0.412304,0.572594,0.0,0.0,0.0,0.295380,0.0,0.176766,0.426230,1.000000
4,141708,1.0,0.906667,0.2,0.000000,0.017544,0.753541,0.997297,0.214286,1.0,...,0.393979,0.535889,0.0,0.0,0.0,0.295380,0.0,0.142802,0.360656,1.000000

In [12]:
output = scaler.fit_transform(NSICU[NSICU.columns[1:]])

NSICU[NSICU.columns[1:]] = output
NSICU.head()

,연구등록번호,gender,age,ethnicity,hospitalid,wardid,height,hospitaladmitoffset,hospitaladmitsource,hospitaldischargeyear,...,calcium,chloride,fentaNYL,hydrALAZINE,labetalol,ondansetron,platelets x 1000,potassium,potassium chloride,gcs
0,141360,1.0,0.534091,0.2,0.0,0.012795,0.831594,0.998165,0.000000,0.0,...,0.417857,0.435407,0.0,0.0,0.0,0.0,0.213810,0.375394,0.0,1.000000
1,141448,1.0,0.727273,0.4,0.0,0.010827,0.795066,0.998394,0.000000,0.0,...,0.385714,0.464713,0.0,0.0,0.0,0.0,0.233085,0.333754,0.0,0.944444
2,141650,1.0,0.795455,0.2,0.0,0.010827,0.843454,0.998386,0.000000,1.0,...,0.360989,0.477917,0.0,0.0,0.0,0.0,0.240517,0.352681,0.0,0.666667
3,141677,0.0,0.795455,0.2,0.0,0.010827,0.831594,0.997868,0.076923,1.0,...,0.450000,0.540072,0.0,0.0,0.0,0.0,0.219076,0.280757,0.0,1.000000
4,141800,1.0,0.715909,0.2,0.0,0.012795,0.855313,0.967506,0.076923,0.0,...,0.415179,0.481459,0.0,0.0,0.0,0.0,0.060010,0.403785,0.0,0.444444

In [14]:
DATA_DIR.joinpath('processed','HICU.csv)

SyntaxError: EOL while scanning string literal (3624935414.py, line 1)

In [11]:
SICU

,연구등록번호,gender,age,ethnicity,hospitalid,wardid,height,hospitaladmitoffset,hospitaladmitsource,hospitaldischargeyear,...,calcium,chloride,fentaNYL,fentaNYL citrate (PF),hydrALAZINE,magnesium,morphine,platelets x 1000,potassium,gcs
0,141296,1.0,0.653333,0.2,0.012821,0.000000,0.650749,0.979453,0.000000,0.0,...,0.404668,0.389070,0.0,0.0,0.0,0.312107,0.0,0.335649,0.565574,1.000000
1,141297,1.0,0.653333,0.2,0.012821,0.000000,0.650749,0.932525,0.000000,0.0,...,0.546684,0.415987,0.0,0.0,0.0,0.533842,0.0,0.337321,0.896175,1.000000
2,141314,1.0,0.413333,0.2,0.012821,0.000000,0.681505,0.993785,0.071429,0.0,...,0.577225,0.587276,0.0,0.0,0.0,0.371783,0.0,0.130838,0.808743,0.333333
3,141675,0.0,0.586667,0.2,0.000000,0.017544,0.607042,0.996750,0.142857,0.0,...,0.412304,0.572594,0.0,0.0,0.0,0.295380,0.0,0.176766,0.426230,1.000000
4,141708,1.0,0.906667,0.2,0.000000,0.017544,0.753541,0.997297,0.214286,1.0,...,0.393979,0.535889,0.0,0.0,0.0,0.295380,0.0,0.142802,0.360656,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10639,3353007,0.0,0.800000,0.2,1.000000,1.000000,0.630109,0.996797,0.142857,0.0,...,0.430628,0.415987,0.0,0.0,0.0,0.233556,0.0,0.170848,0.453552,1.000000
10640,3353015,1.0,0.066667,0.0,1.000000,1.000000,0.660866,0.994340,0.571429,1.0,...,0.317429,0.473609,0.0,0.0,0.0,0.274184,0.0,0.295144,0.470650,1.000000
10641,3353031,1.0,0.413333,0.2,1.000000,1.000000,0.753541,0.997027,0.142857,0.0,...,0.373364,0.590946,0.0,0.0,0.0,0.260566,0.0,0.172713,0.603825,0.777778
10642,3353043,0.0,0.173333,0.0,1.000000,1.000000,0.660866,0.987618,0.285714,1.0,...,0.458115,0.499184,0.0,0.0,0.0,0.295380,0.0,0.196578,0.459016,1.000000
10643,3353117,1.0,0.946667,0.2,1.000000,1.000000,0.650749,0.821333,0.071429,0.0,...,0.347251,0.541762,0.0,0.0,0.0,0.277320,0.0,0.263528,0.357620,0.888889

In [15]:
DATA_DIR.joinpath('processed','HICU.csv')

PosixPath('/home/suncheol/code/PPFL/data/processed/HICU.csv')

In [18]:
HICU.to_csv(DATA_DIR.joinpath('processed','HICU.csv'), index=False)
SICU.to_csv(DATA_DIR.joinpath('processed','SICU.csv'), index=False)
MICU.to_csv(DATA_DIR.joinpath('processed','MICU.csv'), index=False)
NSICU.to_csv(DATA_DIR.joinpath('processed','NSICU.csv'), index=False)

In [9]:
HICU.to_csv(PROJECT_DIR.joinpath('4_ppfl_simulation/hicu/data/HICU.csv'), index=False)
SICU.to_csv(PROJECT_DIR.joinpath('4_ppfl_simulation/sicu/data/SICU.csv'), index=False)
MICU.to_csv(PROJECT_DIR.joinpath('4_ppfl_simulation/micu/data/MICU.csv'), index=False)
NSICU.to_csv(PROJECT_DIR.joinpath('4_ppfl_simulation/NSicu/data/NSICU.csv'), index=False)

FileNotFoundError: [Errno 2] No such file or directory: '/home/suncheol/code/PPFL/4_ppfl_simulation/hicu/data/HICU.csv'

load valid data

In [15]:
with open(DATA_DIR.joinpath('processed','micu_selected.pkl'),'rb') as f:
   micu_selected = pickle.load(f)
with open(DATA_DIR.joinpath('processed','sicu_selected.pkl'), 'rb') as f:
   sicu_selected = pickle.load(f)
with open(DATA_DIR.joinpath('processed','nsicu_selected.pkl'), 'rb') as f:
   nsicu_selected = pickle.load(f)

In [21]:
common_features = set(MICU.columns) & set(SICU.columns) & set(HICU.columns) & set(MICU.columns)
id_and_outcome = set(['연구등록번호','death'])

micu_specific = set(MICU.columns) - common_features
sicu_specific = set(SICU.columns) - common_features
hicu_specific = set(HICU.columns) - common_features

common_features = common_features - id_and_outcome

feature_book = {'common_features':list(common_features), 'id_and_outcome':list(id_and_outcome),
                'hicu_specific':list(hicu_specific), 'sicu_specific':list(sicu_selected), 'micu_specific':list(micu_selected), 'nsicu_specific':list(nsicu_selected)}

In [23]:
import yaml

with open(DATA_DIR.joinpath('processed','feature_book.yaml'),'w') as f:
    yaml.dump(feature_book, f, allow_unicode=True)